<div class="left-settings sidebar">
    <p><strong>SPECTATING [CURRENTLY DISABLED]</strong></p>
    <p>
      Game is <%= @game_session.game.name %>.  Session hash is <%= @game_session.game_hash %>. Notice: <%= notice %>.
    </p>
    <%= link_to 'Play', edit_game_game_session_path(@game, @game_session) %>
</div>


<div class="middle">
  <%= render 'game_view', game_session: @game_session %>
</div>
<div class="right-settings sidebar">
egg
</div>