<div class="left-settings sidebar">

  <h2>General</h2>

  <%= form_for(game) do |f| %>
    <% if game.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

        <ul>
          <% game.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="input-field cover-photo">
      <a class="floating-edit-button"><i class="material-icons">edit</i></a>
      <div class="floating-edit-button-input" id="cover_image_upload"><%= file_field_tag :cover_image_upload %></div>
      <img src="<%= game.picture ? '/user_upload/game_images/' + game.picture.hash_id + '.png'
                                 : 'http://40.media.tumblr.com/7fc1ec1d41f45923d2fe7729d5680722/tumblr_o0q5hyNrZ01uroz2uo2_1280.jpg'%>"
           id="cover_image" alt="Game Cover Photo" draggable="false" />
      <%= f.label :name %>
      <%= f.text_field :name, placeholder: :name %>
    </div>

    <div class="field" id="image_upload">
      <%= label_tag :image, 'Add image: ' %>
      <%= file_field_tag :image %>
      <p class="grey-text text-darken-4">Max size 10MB</p>
    </div>

    <div class="field">
      <%= hidden_field_tag :user_image_hash, game.picture&.hash_id %>
    </div>

    <div class="field">
      <%= f.hidden_field :state %>
    </div>

    <div class="actions">
      <%= f.submit class: 'btn' %>
    </div>
  <% end %>

</div>

<div class="editor-panel">
  <game-editor :game="game"></game-editor>
</div>

<svg height="0" xmlns="http://www.w3.org/2000/svg" class="hidden">
    <filter id="drop-shadow">
        <feGaussianBlur in="SourceAlpha" stdDeviation="4"/>
        <feOffset dx="0" dy="0" result="offsetblur"/>
        <feFlood flood-color="rgba(0,0,0,.5)"/>
        <feComposite in2="offsetblur" operator="in"/>
        <feMerge>
            <feMergeNode/>
            <feMergeNode in="SourceGraphic"/>
        </feMerge>
    </filter>
</svg>
