<% if @games.empty? %>

<div class="no-games thin-page">

  <i class="material-icons">info_outline</i>

  <p>
    You haven't created any games yet.
    <br />
    It's easy and takes just a few seconds to get started.
  </p>

  <%= link_to new_game_path, 'data-turbolinks' => false, class: 'button' do %>
    <i class="material-icons">add</i> Create a new Game
  <% end %>

</div>

<% else %>

<h2 class="games-heading"><%= @current_user.name %>'s <span class="site-logo">On<span>Board</span><em>.fun</em></span> games</h2>
<ul class="games">
  <% @games.each do |game| %>
    <li class="card">
      <%= link_to game, class: 'card-hover-overlay' do %>
        <div class="card-image">
          <img src="<%= game.picture ? '/user_upload/game_images/' + game.picture.hash_id + '.png'
                                     : root_path + 'no-thumbnail.png'%>">
        </div>
        <div class="card-content">
          <%= truncate game.name, :length => 35 %></span>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>

<% end %>

<%
#<%= button_to 'New session', game_game_sessions_path(game_id: game.id), method: :post %
#<%= link_to 'View', game %
#<%= link_to 'Edit', edit_game_path(game) %
#<%= link_to 'Delete', game, method: :delete, data: { confirm: 'Are you sure?' } %
%>
