<div class="games">

    <% @games.each do |game| %>
      <%= game.name %>
      <ul>
        <li><%= game.state %></li>
        <li><%= game.game_session.count %></li>
        <li><%= button_to 'New session', game_sessions_path(game_id: game.id), method: :post %></li>
        <li><%= link_to 'Show', game %></li>
        <li><%= link_to 'Edit', edit_game_path(game) %></li>
        <li><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </ul>
      <hr />
    <% end %>

</div>