<ul class="games">
  <% @games.each do |game| %>
    <li class="card">
      <%= link_to game, class: 'card-hover-overlay' do %>
        <div class="card-image">
          <img src="<%= game.picture ? '/user_upload/game_images/' + game.picture.hash_id + '.png'
                                     : 'http://40.media.tumblr.com/7fc1ec1d41f45923d2fe7729d5680722/tumblr_o0q5hyNrZ01uroz2uo2_1280.jpg'%>">
        </div>
        <div class="card-content">
          <%= truncate game.name, :length => 35 %></span>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>

<%
#<%= button_to 'New session', game_game_sessions_path(game_id: game.id), method: :post %
#<%= link_to 'View', game %
#<%= link_to 'Edit', edit_game_path(game) %
#<%= link_to 'Delete', game, method: :delete, data: { confirm: 'Are you sure?' } %
%>
