<div class="games">

    <p id="notice"><%= notice %></p>
    
    <p>
      <strong>Name:</strong>
      <%= @game.name %>
    </p>
    
    <p>
      <strong>Sessions:</strong>
      <ul>
        <% @game.game_session.each do |session| %>
        <li><%= session.hash %>
          <%= link_to 'View', [@game, session] %>
          <%= link_to 'Play', [:edit, @game, session] %>
        </li>
        <% end %>
      </ul>
    </p>
    
    <%= link_to 'Edit', edit_game_path(@game) %> |
    <%= link_to 'Back', games_path %>

</div>