<!--<p id="notice"><%= notice %></p>-->
<div class="jumbotron">
  <h2 class="game-title"><%= truncate @game.name, :length => 35 %></h2>
  <img src="http://40.media.tumblr.com/7fc1ec1d41f45923d2fe7729d5680722/tumblr_o0q5hyNrZ01uroz2uo2_1280.jpg" class="background-image" alt="Board Game Cover Art" draggable="false" />
</div>

<%= link_to game_game_sessions_path(game_id: @game.id), method: :post, class: 'btn waves-affect waves-light' do %>
  New Game<i class="material-icons right">play_arrow</i>
<% end %>
&nbsp;
<%= link_to 'Edit', edit_game_path(@game), class: 'btn waves-affect waves-light' %>
<h2>Saves:</h2>
<ul class="collection">
  <% @game.game_session.each do |session| %>
  <li class="collection-item">
    <%= session.created_at %>
    <%= link_to 'View', [@game, session], class: 'waves-effect waves-teal btn-flat secondary-content' %>
    <%= link_to 'Play', [:edit, @game, session], class: 'waves-effect waves-teal btn-flat secondary-content' %>
  </li>
  <% end %>
</ul>
