<!--<p id="notice"><%= notice %></p>-->
<div class="jumbotron">
  <h2 class="game-title"><%= truncate @game.name, :length => 35 %></h2>
  <img src="<%= @game.picture ? '/user_upload/game_images/' + @game.picture.hash_id + '.png'
                              : root_path + 'no-thumbnail.png'%>"
       class="background-image" alt="Board Game Cover Art" draggable="false" />
</div>

<div class="thin-page">
  <div class="button-horizontal-container">
    <%= link_to game_game_sessions_path(game_id: @game.id), method: :post, class: 'button button-left-half' do %>
      New Game
    <% end %>

    <%= link_to 'Edit', edit_game_path(@game), class: 'button button-right-half' %>
  </div>

  <h2>Saves:</h2>
  <ul class="collection">
    <% @game.game_session.reverse.each do |session| %>
    <li>
      <%= link_to raw("<i class='material-icons'>play_arrow</i>"), [:edit, @game, session], class: 'button inline-button', 'data-turbolinks' => false  %>
      &nbsp;
      <%= session.created_at.to_formatted_s(:long_ordinal) %>
    </li>
    <% end %>
  </ul>
</div>
