<!DOCTYPE html>
<html>
  <head>
    <title>OnBoard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>  
    <div class="main">
     <%= render "shared/header" %>
        <div class="board"><!-- temporary -->
     <%= yield %>
     </div>
    </div>
  </body>
</html>
