<!DOCTYPE html>
<html>
  <head>
    <!-- TODO: Put this somewhere more permanent, fix XSS injection -->
    <script>
      const NAME = '<%= @username %>';
    </script>
    <title>OnBoard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="controller-<%= controller.controller_name %> action-<%= controller.action_name %>">
    <div class="main">
        <%= render "shared/header" %>
        <%= yield %>
    </div>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
  <!-- Push working -->
</html>
